.wikipedia-extract {
  margin-top: 2em;
  overflow: hidden;

  .content {
    min-height: max-content;
    max-height: calc(100% - 1.5em);
    overflow-y: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent 98%);
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent 98%);
    padding-bottom: 2rem;
  }
}