<a key={{@relName}}
   href={{@relValue}}
   title={{@relName}}
   className="btn btn-icon btn-link"
   target="_blank"
   rel="noopener noreferrer">
  {{d-icon (this.iconName @relName @relValue)}}
</a>